body {
  background-color: #abd1d1 !important;
  overflow-x: hidden;
}

.text-color-grey {
  color: lightgray !important;
}

#applyFormatting > div > div > input {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
